.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

.row {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.t-area {
  position: relative;
  width: 50%;
  height: 100%;
  resize: none;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid #aaaaaa;
  padding: 1rem;
  outline: none;
}

.nome-arquivo {
  position: relative;
  height: 100%;
  border: none;
  padding-left: 1rem;
  outline: none;
}

.download {
  height: 2rem;
  margin: 1rem;
  overflow-y: hidden;
}

.btn {
  width: 9rem;
  height: 100%;
  color: #fefefe;
  background-color: #191919;
  border: none;
}

.btn:hover {
  color: white;
  background-color: #a60003;
  border: none;
  transition: 0.3s;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

.right {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.conversor {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.no-border-left {
  border: 1px solid #aaaaaa;
  border-left: none;
}
