<div class="content" role="main">
  <div class="row">
    <div class="conversor">
      <textarea
        class="t-area"
        [(ngModel)]="MarkDown"
        (ngModelChange)="mdPreviewfn()"
        placeholder="# Meu documento MD"
      ></textarea>
      <div class="t-area no-border-left">
        <div [innerHTML]="mdPreview" id="Content"></div>
        <!-- <div>{{ mdPreview }}</div> -->
      </div>
    </div>
  </div>
  <div class="row right">
    <button class="btn" (click)="download()">Download</button>
  </div>
</div>
