:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

.row {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}

.t-area {
  position: relative;
  width: 47%;
  height: 100%;
  resize: none;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #bababa;
  padding: 1rem;
}

.btn {
  margin: 2rem;
  width: 9rem;
  height: 2rem;
  color: #fefefe;
  background-color: #191919;
  border: none;
}

.btn:hover {
  color: #191919;
  background-color: #fefefe;
  border: 1px solid black;
  transition: 0.3s;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}
