
blockquote{
  padding-left: 1.5rem;
  border-left: 0.3rem solid #000000;
  background-color: rgba(0,0,0,.03);
  color: #000000;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}
.error{
  color: rgb(163, 10, 10);
}
.doc_name{
  text-align: center;
  max-width: 250px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top: 30px;
  border: 1px #666 solid;
}

a{
  color: dodgerblue;
}

h1, h2{
  width: fit-content;
  padding-bottom: 0.3rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid #bcbcbc;
}

hr{
  border-bottom: 0.01rem solid #fefefe;
  margin-bottom: 1.75rem;
  margin-top: 1.75rem;
}
