body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 8pt;
  color: #353535;
  background-color: #d3d3d3;
}

blockquote {
  height: fit-content;
  padding-left: 0.7rem;
  border-left: 0.17rem solid rgb(130, 130, 255);
  color: rgb(130, 130, 255);
  text-justify: center;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

h1{
  padding-bottom: 0.3rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid #bcbcbc;
}

h2 {
  padding-bottom: 0.3rem;
  margin-bottom: 2rem;
}

hr {
  margin-bottom: 1.75rem;
  margin-top: 1.75rem;
  border-color: #bcbcbc;
}
